body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightgray;
}

main {
  padding: 50px;
}

#placeMap {
  height: 400px;
  width: 100%;
}

img {
  height: 300px;
  object-fit: cover;
}

.result img {
  display: inline;
  height: 100px;
  object-fit: cover;
}

.result {
  display: flex;
  align-items: center;
}

.actor img {
  height: 100px;
  object-fit: cover;
}

.profile img {
  height: 300px;
}

h2 b {
  font-size: 1.5em;
}

h3 {
  font-size: 50px;
}
.glide_slide {
  height: 100%;
}
a {
  margin: 10px, 10px;
}

// .glide__track {
//   background-color: slateblue;
// }
// @import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
