body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
  padding: 50px;
}

a {
  color: #00b7ff;
}

#placeMap {
  height: 400px;
  width: 100%;
}

img {
  height: 300px;
  object-fit: cover;
}

.result img {
  display: inline;
  height: 100px;
  object-fit: cover;
}

.result {
  display: flex;
  align-items: center;
}

.actor img {
  height: 100px;
  object-fit: cover;
}

.profile img {
  height: 300px;
}

h2 b {
  font-size: 1.5em;
}

// @import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
