body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightgray;
}

main {
  padding: 50px;
}

#placeMap {
  height: 400px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6{
  margin-bottom: 25px;
}

img {
  height: 300px;
  object-fit: cover;
}

.result img {
  display: inline;
  height: 100px;
  object-fit: cover;
}

.result {
  display: flex;
  align-items: center;
}

.actor img {
  height: 100px;
  object-fit: cover;
}

.profile img {
  height: 300px;
}

.message{
  display: none
}

h2 b {
  font-size: 1.5em;
}

h3 {
  font-size: 50px;
}
.glide_slide {
  height: 100%;
}
a {
  margin: 10px, 10px;
}

.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover {
  color: #28a745;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #28a745;
}

.opacity {
  opacity: 0.5;
}
.glide__slide:hover {
  // img:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.2);

  //}
}
.row {
  margin: 10px;
}
a {
  color: black;
}
a:hover {
  color: #28a745;
  text-decoration: none;
}
// ul {
//   background-color: lightpink;
// }
// .glide__track {
//   background-color: slateblue;
// }
// @import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
