body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main{
  padding: 50px;
}

a {
  color: #00b7ff;
}

#placeMap {
  height: 400px;
  width: 100%;
}

img{

  height: 300px;
  object-fit: cover;
}

.actor img{
  height: 100px;
  object-fit: cover;
}

// @import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
